* {
  text-align: center;
}

body {
  width: calc(100vw - 2*(4rem));
  padding: 4rem;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
  width: 100%;
}
h2 > * {
  padding: 0.3rem;
  border-radius: 6px;
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.number {
  width: 3rem;
  height: 3rem;
  border: solid 1px grey;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number:hover {
  background-color: #f0f0f0;
}
.number_used {
  background-color: #f0f0f0;
  border: solid 1px #f0f0f0;
}

.restart_button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: solid 0.1rem hsl(220, 10%, 70%);
  background-color: hsl(220, 10%, 95%);
  cursor: pointer;
}